/* 
black #25274D
dark gray #464866
gray #AAABB8
aqua #2E9CCA
darkblue #29648A
*/


html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #25274D;
    color: white;
    overflow-x: hidden;
}

.background {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}


.msg {
    padding: 5px;
    color: black;
    border-radius: 10px;
    display: table;
    clear: both;
    margin: 0px 5px 5px 5px;
}

.other-msg {
    float: left;
    background-color: #AAABB8;
    text-align: left; 
}

.user-msg {
    float: right;
    background-color: #2ECCCA;
    text-align: right;
}

.info-msg {
    opacity: 0.7;
    margin: 0 auto;
    background-color: antiquewhite;
    text-align: center;
}

.online-dot {
    height: 12px;
    width: 12px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}


#entry-div {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #AAABB8;
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    text-align: center;
    color: #25274D;
}


#online-users-col {
    text-align: center;
    border-right: 1px solid white;
}

#chat-col {
    overflow: auto;
    text-align: center;
}

#chat-form {
    clear: both;
}

.username-item:hover{
    cursor:pointer;
}

#modal-guide{
    color:black;
}